# compiled output
/dist
/node_modules

# uploaded files
/uploads



# env
.env

# logs
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

# tests
/coverage
/.nyc_output

# IDEs
.idea
.vscode

# OS
.DS_Store
